<div class="row">
	<div class="large-4 columns">
		<img src="http://placehold.it/600x600">
	</div>
	<div class="large-8 columns">
		<h3><%= "#{@user[:first_name]} #{@user[:last_name]}"%></h3>
		<p><%= @user.description %></p>
		<a href="#" class="button" data-dropdown="drop"><%= @user.first_name%>'s books &raquo;</a>
		<ul id="drop" class="[large content] f-dropdown" data-dropdown-content>
		  <li><a href="#">This is a link</a></li>
		  <li><a href="#">This is another</a></li>
		  <li><a href="#">Yet another</a></li>
		</ul>		
		<h4><%= @user.points%> Points</h4>
	</div>
</div>
