<link rel="stylesheet" href="hackathon/foundation-5.0.2/css/foundation.min.css">
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<style>
	.blue {
		color: #158CBA;
	}
</style>

<div class="row">
	<div class="large-3 columns text-center">
	<h1>Sign Up</h1>
	</div>
	<div class="large-1 columns">
		<p>                             </p>
	</div>
	<div class="large-4 columns text-center">
	<h1>Get Points</h1>
	</div>
	<div class="large-1 columns">
		<p>       </p>
	</div>
	<div class="large-3 columns text-center">
	<h1>Get Books</h1>
	</div>
</div>

<div class="row">
	<div class="large-3 columns">
	<div class="panel">
		<p>Sign up and put the books you don't want online</p>
	</div>
</div>
	<div class="large-1 columns">
		<i class="fa fa-arrow-right fa-5x blue"></i>
	</div>
	
	<div class="large-4 columns">
	<div class="panel">
		<p>Get points if someone buys your book</p>
	</div>
	</div>
	<div class="large-1 columns">
		<i class="fa fa-arrow-right fa-5x blue"></i>
	</div>

	
	<div class="large-3 columns left">
	<div class="panel">
		<p>Use those points to buy other books</p>
	</div>
</div>
</div>
