<div class="row">
	<div class="large-12 columns">
		<p>For every book you list, you get 10 points.  With those points, you can purchase books from other users.  It's an online library, fuck Amazon</p>
	</div>
</div>
