
<div class="row">
	<div class="twelve columns">
		<h2 class="center">Welcome to Get Paperback!</h2>
		<%= image_tag 'Reading-Books.jpg'%>
		<br/>
			<br/>
			<br/>
		<div class="center" >
	    <% if current_user %>
	      <%= link_to "", signout_path, id: "sign_out" %>
	    <% else %>
	      <%= link_to image_tag('active_404@2x.png'), "/auth/facebook", id: "sign_in" %>
	    <% end %>
	  </div>
  </div>
</div>  